* 
  font-family: 'Roboto', sans-serif
  
body, html
  margin: 0
  padding: 0

form
  gap: 10px

  input
    padding: 10px
    border-radius: 10px
    border: 2px solid rgba(0, 0, 0, .2)

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button 
      -webkit-appearance: none
      margin: 0

    /* Firefox */
    &[type=number] 
      -moz-appearance: textfield

  #buttonContainer
    display: grid
    place-items: center center
    button
      border: none
      transition: .2s


#userFavorites
  gap: 20px

  .list > ul
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    gap: 10px
    flex-direction: column

    li
      padding: 10px
      border-radius: 5px

    li:nth-child(odd)
      background-color: rgba(0, 0, 0, .1)

    li:nth-child(even)
      background-color: rgba(0, 0, 0, .3)
      color: white
